<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="base :: head(index)">
</head>
<body>
    <nav th:insert="base :: navbar"></nav>

    <div class="container" id="contenido">


            <nav th:replace="fragments/navbar.html :: navbar( active = 'Posts')"></nav>
            <h2>Lista de posts</h2>
            <a class="btn btn-primary mt-4 mb-4" th:href="@{'/post/new'}">Nuevo Post</a>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th>Resumen</th>

                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p, info : ${listaPost}">
                    <td th:text="${info.index + 1}"></td>

                    <td th:text="${p.id_post}"></td>
                    <td th:text="${p.title}"></td>
                    <td th:text="${p.author.firstName}"></td>
                    <td th:text="${p.summary}"></td>

                    <td><a sec:authorize="hasAuthority('admin')" class="btn btn-primary" th:href="@{'/post/edit' + '?id=' + ${p.id_post}}">Editar</a>
                    </td>
                    <td><a sec:authorize="hasAuthority('admin')" class="btn btn-danger" th:href="@{'/post/delete' + '?id=' + ${p.id_post}}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

</body>
</html>